<div class="card border-primary mb-3">
  <div class="card-header">Usuarios</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de usuarios</h5>
    <table class="table table-bordered table-striped" datatable="" >
      <thead>
        <tr>
          <th>id</th>
          <th>usuario</th>
          <th>correo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{usuario.usuaId}}</td>
          <td>{{usuario.usuaCorreo}}</td>
          <td>{{usuario.usuaUsuario}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
angular.module('showcase', ['datatables']);