<div class="page-container">
  <div class="page-content">
    <div class="content-wrapper">
      <div class="content centrarLogin">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="panel panel-body login-form col-md-6" id="panelInicio">
            <div class="text-center" id="pLogo">
              <div><img src="assets/images/logo_eltorneo.png" alt="Logo"></div>
              <h4 class="content-group">Iniciar sesión<small class="display-block"></small></h4>
            </div>
            <div class="form-group has-feedback has-feedback-left">
              <div class="input-group">
                <input type="text" class="form-control text-input" placeholder="Usuario" maxlength="15"
                  formControlName="username" id="username" name="username" autocomplete="off">

              </div>
            </div>
            <div class="form-group has-feedback has-feedback-left">
              <input type="password" class="form-control text-input" formControlName="password" placeholder="Contraseña"
                id="password" name="password" maxlength="15" autocomplete="off">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"><b class="size">Ingresar</b> <i
                  class="font flaticon-cursor"></i></button>
            </div>

            <div class="alert alert-danger" [hidden]="!error">
              Ha ocurrido un error, por favor vuelva a intentar.
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>