<div class="card">
  <div class="card-header">Torneos</div>
  <div class="card-body text-primary">
    <form>
      <div class="form-group row">
        <label for="" class="col-form-label col-2">Nombre</label>
        <div class="col-sm-6 ">
          <input type="text" name="nombre" class="form-control" [(ngModel)]="torneo.tornNombre">
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-form-label col-2">Fecha de inicio</label>
        <div class="col-sm-6">
          <input type="text" name="fecha" class="form-control" [(ngModel)]="torneo.tornFechainicial">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <button type="button" class="btn btn-primary" (click)='crearTorneo()'
            *ngIf="!torneo.tornId else elseBlock">Registrar</button>
          <ng-template #elseBlock>
            <button type="button" class="btn btn-primary" (click)='actualizarTorneo()'>Actualizar</button>
            </ng-template>

        </div>
      </div>

    </form>
  </div>
</div>