<div class="card border-primary mb-3">
  <div class="card-header">
    <h3>Equipos</h3>
  </div>
  <div class="card-body text-primary">
    <div class="row">
      <div class="col-md-6">
        <h5 class="card-title">Listado de equipos</h5>
      </div>
      <div class="col-md-6 text-align-end" *ngIf="authService.getTipo()=='8'">
        <button type="button" class="btn btn-primary" [routerLink]="['/equipo']"><b>Crear equipo</b></button>

      </div>
    </div>
    <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
        <tr>
          <th>nombre</th>
          <th>editar</th>
          <th>accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipo of equipos">
          <td>{{equipo.equiNombre}}</td>
          <td><button type="button" class="btn btn-primary" name="button"
              [routerLink]="['/equipo', equipo.equiId]">editar</button></td>
          <td><button type="button" class="btn btn-success" name="button"
              [routerLink]="['/listJugadores', equipo.equiId]">ver jugadores</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>